.new-review {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, auto);
  column-gap: 16px;
  row-gap: 55px;
  max-width: 1360px;
  margin: 0 auto;

  &__title {
    @include font-bold-title-1;
    grid-column: 3 / 7;
    grid-row: 2;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $buttons-primary-default;
  }

  &__item {
    border-radius: 10px;
    padding: 20px;
    background-color: $bg-surface-higher;

    &:nth-child(1) {
      grid-column: 2 / 4;
      grid-row: 1;
    }

    &:nth-child(2) {
      grid-column: 6 / 8;
      grid-row: 1;
    }

    &:nth-child(3) {
      grid-column: 1 / 3;
      grid-row: 2;
    }

    &:nth-child(4) {
      grid-column: 7 / 9;
      grid-row: 2;
    }

    &:nth-child(5) {
      grid-column: 2 / 4;
      grid-row: 3;
    }

    &:nth-child(6) {
      grid-column: 6 / 8;
      grid-row: 3;
    }
  }

  &__stars {
    display: flex;
    gap: 3px;
    margin-bottom: 12px;
  }

  &__body {
    @include font-regular-body-2;
    color: $text-icon-stroke-primary;
  }

  @include mobile {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 16px;

    &__title {
      grid-column: unset;
      grid-row: unset;
      order: -1;
      text-align: center;
    }

    &__item {
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        grid-column: unset;
        grid-row: unset;
      }
    }
  }
}
