// Fixel Text Font Family

// Thin - 100
@font-face {
  font-family: "Fixel Text";
  src: url("/wp-content/themes/help/new/fonts/FixelText/FixelText-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fixel Text";
  src: url("/wp-content/themes/help/new/fonts/FixelText/FixelText-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

// Extra Light - 200
@font-face {
  font-family: "Fixel Text";
  src: url("/wp-content/themes/help/new/fonts/FixelText/FixelText-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fixel Text";
  src: url("/wp-content/themes/help/new/fonts/FixelText/FixelText-ExtraLightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

// Light - 300
@font-face {
  font-family: "Fixel Text";
  src: url("/wp-content/themes/help/new/fonts/FixelText/FixelText-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fixel Text";
  src: url("/wp-content/themes/help/new/fonts/FixelText/FixelText-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

// Regular - 400
@font-face {
  font-family: "Fixel Text";
  src: url("/wp-content/themes/help/new/fonts/FixelText/FixelText-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fixel Text";
  src: url("/wp-content/themes/help/new/fonts/FixelText/FixelText-RegularItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

// Medium - 500
@font-face {
  font-family: "Fixel Text";
  src: url("/wp-content/themes/help/new/fonts/FixelText/FixelText-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fixel Text";
  src: url("/wp-content/themes/help/new/fonts/FixelText/FixelText-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

// Semi Bold - 600
@font-face {
  font-family: "Fixel Text";
  src: url("/wp-content/themes/help/new/fonts/FixelText/FixelText-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fixel Text";
  src: url("/wp-content/themes/help/new/fonts/FixelText/FixelText-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

// Bold - 700
@font-face {
  font-family: "Fixel Text";
  src: url("/wp-content/themes/help/new/fonts/FixelText/FixelText-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fixel Text";
  src: url("/wp-content/themes/help/new/fonts/FixelText/FixelText-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

// Extra Bold - 800
@font-face {
  font-family: "Fixel Text";
  src: url("/wp-content/themes/help/new/fonts/FixelText/FixelText-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fixel Text";
  src: url("/wp-content/themes/help/new/fonts/FixelText/FixelText-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

// Black - 900
@font-face {
  font-family: "Fixel Text";
  src: url("/wp-content/themes/help/new/fonts/FixelText/FixelText-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fixel Text";
  src: url("/wp-content/themes/help/new/fonts/FixelText/FixelText-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
