/* Mode 1 */
/* color */
$grayscale-0: #ffffff;
$grayscale-10: #ededee;
$grayscale-100: #000000;
$grayscale-20: #d7d8da;
$grayscale-30: #bdbec1;
$grayscale-40: #a3a4a9;
$grayscale-5: #f7f7f8;
$grayscale-50: #888990;
$grayscale-60: #6b6a71;
$grayscale-70: #515357;
$grayscale-80: #36373a;
$grayscale-90: #202022;
$grayscale-95: #111112;
$main-blue-0: #ffffff;
$main-blue-10: #cdd6e2;
$main-blue-100: #072959;
$main-blue-20: #b4c2d4;
$main-blue-30: #9cadc5;
$main-blue-40: #8399b7;
$main-blue-5: #e6ebf1;
$main-blue-50: #6a85a9;
$main-blue-60: #52709b;
$main-blue-70: #395c8c;
$main-blue-80: #20477d;
$main-blue-90: #07336f;
$main-blue-95: #072e64;
$orange-0: #ffffff;
$orange-10: #feeacc;
$orange-100: #804c01;
$orange-20: #ffe0b3;
$orange-30: #ffcb80;
$orange-40: #ffb64e;
$orange-5: #fff5e6;
$orange-50: #ffa726;
$orange-60: #ff9700;
$orange-70: #e68703;
$orange-80: #cc7900;
$orange-90: #b36902;
$orange-95: #995b00;
$secondary-blue-0: #ffffff;
$secondary-blue-10: #ebf1fa;
$secondary-blue-100: #3e4249;
$secondary-blue-20: #e2ebf7;
$secondary-blue-30: #d8e4f5;
$secondary-blue-40: #cedcf2;
$secondary-blue-5: #f6f8fc;
$secondary-blue-50: #b9c7da;
$secondary-blue-60: #a5b1c2;
$secondary-blue-70: #909ba9;
$secondary-blue-80: #7c8591;
$secondary-blue-90: #666f79;
$secondary-blue-95: #525861;
/* number */
$numbers-0: 0px;
$numbers-2: 2px;
$numbers-4: 4px;
$numbers-8: 8px;
$numbers-10: 10px;
$numbers-12: 12px;
$numbers-16: 16px;
$numbers-20: 20px;
$numbers-24: 24px;
$numbers-28: 28px;
$numbers-32: 32px;
$numbers-40: 40px;
$numbers-48: 48px;
$numbers-56: 56px;
$numbers-64: 64px;
$numbers-72: 72px;
$numbers-80: 80px;
$numbers-120: 120px;
/* Mode 1 */
/* color */
$bg-surface: #ffffff;
$bg-surface-blue: $secondary-blue-5;
$bg-surface-higher: $grayscale-0;
$buttons-primary-default: $orange-60;
$buttons-primary-disabled: $grayscale-40;
$buttons-primary-pressed: $orange-70;
$buttons-secondary-default: $orange-10;
$buttons-secondary-disabled: $grayscale-10;
$buttons-secondary-pressed: $orange-10;
$text-icon-stroke-accent: $orange-60;
$text-icon-stroke-accent-2: $main-blue-80;
$text-icon-stroke-accent2-1: $main-blue-50;
$text-icon-stroke-disabled: $grayscale-20;
$text-icon-stroke-primary: $grayscale-95;
$text-icon-stroke-primary-inverted: $grayscale-0;
$text-icon-stroke-secondary: $grayscale-80;
$text-icon-stroke-tertiary: $grayscale-60;
